  
        header{
               border-bottom : 2px gray solid;
                padding : 20px;
           }
           ol{
               border-right: 2px gray solid;
               float: left;
               height:600px;
               padding-right:20px;
           }
           article{
               padding-left:250px;
               
                   
           }
              h2{font-size: 40px;}